# Discord Bot Token
KIKIMIMI_BOT_TOKEN=your_discord_bot_token_here

# Google Cloud Settings
# key/ フォルダ内に認証用JSONファイルを配置し、その相対パスを指定してください
GOOGLE_APPLICATION_CREDENTIALS_PATH=key/google_credentials.json

# Customize (任意)
UPDATE_INFO="v1.0.0: 聞き耳(kikimimi)がリリースされました"
SYSTEM_FOOTER="Kikimimi Reading Bot"
BOT_PRESENCE="kikimimi Bot"
